# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
*.log

# Spring Boot
*.jar
*.war
*.iml
*.class
*.db
*.h2.db
*.sqlite
*.swp

# React/Node.js
node_modules/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.idea/
*.sublime-workspace
*.sublime-project
.vscode/
*.code-workspace

# OS files
.DS_Store
Thumbs.db

# Docker
*.pid
*.seed
*.bak
docker-compose.override.yml
